<div class="content-login d-flex justify-content-center align-items-center">
    <form class="form-login" [formGroup]="formUser">
      <div class="form-group">
        <div class="form-group">
            <label class="user-label control-label">Usuário</label>
            <input type="text" class="form-control" formControlName="username"  id="username" />
        </div>
        <div class="form-group">
            <label class="password-label control-label">Senha</label>
            <input type="password" class="form-control" formControlName="password" #passwordInput>
            <button *ngIf="!passwordVisible" title="Mostrar Senha" class="toggle-password" (click)="togglePasswordVisibility(passwordInput)">
                <i class="fa fa-eye-slash"></i>
            </button>
            <button *ngIf="passwordVisible" title="Esconder Senha" class="toggle-password" (click)="togglePasswordVisibility(passwordInput)">
                <i class="fa fa-eye"></i>
            </button>
        </div>
      </div>
      <div *ngIf="formUser.status === 'VALID'" class="w-100">
          <button class="btn-login" (click)="login()"> Entrar </button>
      </div>
    </form>
</div>
  